{{define "title"}}CV 2.0 - About{{end}}
{{define "heading"}}About{{end}}
{{define "body"}}
<section>
<h2>What is a CV 2.0?</h2>
<p>A CV 2.0 is a visually enhanced resume. The purpose of the project is to make a .cv2 file that adheres to a newly created standard and enables recruiters to apply their preferred visualization style to all applications they receive. Furthermore, the system can filter applications in .cv2 format, so that recruiters can focus on qualitative work rather than work that can be automated.</p>
<p>In order to achieve this next-generation style of resumes, it is necessary to create, improve, and promote a standard that builds upon existing microdata, such as is shown on <a href="http://schema.org">schema.org</a></p>
<p>The system has benefits for both recruiters and applicants as is explained in the following sections.</p>

<h2>Applicant Benefits</h2>
<p>Applicants get a polished resume that they can either use directly or edit further in their preferred application and format. The system provides the following open formats:</p>
<ul>
<li>.svg
<li>.html with all the necessary files
<li>.svg
<li>.cv2 for a valid CV 2.0 according to the specification
</ul>

<h2>Recruiter Benefits</h2>
<p>Recruiters can focus on what they love doing now as cv2.me enables them to filter and match applicants with their job offers, provided that the applicant has uploaded a .cv2 file that they can create for free.<p>
<p>No more endless sifting through all kinds of resumes - CV2.me can show you all resumes in the same format so that you can look at hundreds of resumes and know that you will find the professional information on the first third of the page, the interest at last, hide photos, and further customize graphical representations that make it easier for you to evaluate the candidate as you see fit.</p>
<br>
<br>
<div style="color: #666; font-size: 80%;">
<small>The following is old text that I want to keep but will put somewhere else on the site after some changes.</small>
<h2>Features</h2>
<ul>
<li>stand out from your competitors as an applicant
<li>get your personalised SVG for further editing and customization
<li>get your CV as PDF, jpg, and html - upload or share wherever you want
</ul>

<h2>Tips on Using CV2.me</h2>
<ul>
<li>offer a traditional resume as well, so it's clear you can keep to rules as well as be creative
<li>the graphic should not overshadow the actual content
<li>don't overdo it - visualizations tend to get cluttered very soon
<li>choose light colors or white as background  don't make it dark - recruiters print your CV and don't want to waste their whole toner on your CV
</ul>

<h2>General Tips for your Application</h2>
<ul>
<li>be concise and tailor your application to the job
<li>mention things that you've accomplished, don't just bullet-list your experiences
</ul>

<h2>Future Features</h2>
<ul>
<li>registration with saved personal content, maybe profile sharing
<li>import from LinkedIn
<li>more templates
<li>user-generated templates and plugins
<li>automated recognition of skills - ability to connect to professional experience for better use in templates
</ul>
</div>
</section>
{{end}}
