{{define "title"}}CV 2.0 - Global Resume{{end}}
{{define "heading"}}Create your next-gen resume now.{{end}}
{{define "body"}}
<section>
<h2>Edit once, use anywhere.</h2>
<p class="justified">A CV 2.0 is the next-generation resume. You fill out your data once and export it to the file formats of your choice. You don't have to register or even use your real data. We use the <a href="https://www.w3.org/community/cv2/">CV 2.0 - Global Resume</a> W3C Community Group's specification for our .cv2files.</p>
<p class="centered"><img src="/public/cv2_portraits.jpg"></p>
<h2>Privacy</h2>
<p class="justified">The core functions are open sourced and your data
is yours. We do not keep your files on our servers for more than 20
minutes. The option to sign up, keep your data, and use additional
features will be added continuously.</p></section>
<p style="background: red;
font-weight: bold; color: #fff; text-align: center;">Most of this
site's functionality is still in early development - check our GitHub repository for
news. For now, this site just stands for demonstration
purposes.</p>
<section class="centered, cleared"><a class="noarrow" style="clear: both;" href="/create"><button id="butcreate" type="button">Try it for free &gt;&gt;</button></a></section>
</section>
{{end}}
